tomli; python_version<'3.11'
Flask
flask[async]
requests
waitress
colorama
print_color
paste
tomli
Werkzeug
pip
MarkupSafe
click
Jinja2
blinker
itsdangerous
setuptools
asgiref
certifi
urllib3
idna
charset-normalizer
pytest
packaging